.block-u {
  width: 80%;
  height: 100vh;
  max-height: 700px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-gun-u {
  height: 350px;
  width: 250px;
  margin: 0 5px;
}
.card-media-gun-u {
  background-color: rgb(73, 68, 68);
}

.search {
  width: 350px;
  height: 50px;
  padding-left: 20px;
  border: none;
  background-color: rgb(146, 153, 158);
  border-radius: 4px;
}
.block-card-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-gun-u:hover {
  margin: 0 15px;
  box-shadow: 5px 10px 5px rgb(7, 176, 16);
}
.btn-page {
  background-color: blueviolet;
  color: white;
  width: 30px;
  height: 30px;
}
