.modal-edit {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
}
.input {
  height: 50px;
  margin: 10px;
  border-radius: 3px;
  padding-left: 20px;
  font-size: x-large;
  border: none;
}
.input:hover {
  background-color: rgb(195, 204, 212);
}
