.image-start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.image-csa {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width: 80%;
  flex-wrap: wrap;
}
.card-game-a:hover {
  box-shadow: 5px 5px 5px rgb(244, 234, 234);
  cursor: pointer;
}

.card-game-a {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 400px;
  background-color: rgba(77, 131, 213, 0.459);
}
.game-btn-a {
  width: 80%;
  height: 30px;
  background-color: rgb(24, 144, 231);
  border: none;
  border-radius: 2px;
}
.game-btn-a:hover {
  background-color: rgb(206, 97, 38);
  cursor: pointer;
}
.video-start {
  width: 85%;
  height: 380px;
  display: flex;
  justify-content: center;
}
.home-bg-a {
  width: 100%;
  position: static;
}
.v-v-v {
  background-color: rgba(238, 140, 76, 0.168);
  margin: 30px 0;
  color: azure;
}
.down-game {
  margin: 0 15px;
  width: 300px;
  border-radius: 5px;
  background-color: rgba(9, 248, 156, 0.282);
  border-color: rgb(62, 124, 64);
}
.down-game:hover {
  border-color: aqua;
}
.game-abs-a {
  text-align: center;
  width: 300px;
  background-color: rgba(240, 248, 255, 0.167);
}
.image-start-end {
  background-color: rgba(124, 63, 63, 0.681);
}
