.buy-div {
  background-image: url(https://miro.medium.com/max/1200/1*Ovna7BOMTTLWvghLXvHOpg.jpeg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin: 5px;
}
.input-buy {
  border-radius: 5px;
  padding-left: 30px;
  color: white;
  background-color: rgba(165, 164, 222, 0.242);
}
.img-jostik {
  width: 98%;
  height: 100vh;
  margin: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .img-jostik {
    display: none;
  }
  .buy-div {
    width: 100%;
  }
  .personal-details {
    font-size: 20px;
  }
}
